@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


.link-center-line {
  @apply relative inline-block 
  text-white text-lg font-[header-font] transition hover:text-black/50;

  @apply after:absolute after:left-0 after:bottom-0 after:-translate-y-1/2
  after:h-[1px] after:w-full after:bg-current
  after:scale-x-0 after:origin-center
  after:transition-transform after:duration-300;

  @apply hover:after:scale-x-100;
}

.link-center-line-black {
  @apply relative inline-block 
  text-black text-lg hover:text-black/50 transition font-[header-font];

  @apply after:absolute after:left-0 after:bottom-0 after:-translate-y-1/2
  after:h-[1px] after:w-full after:bg-current
  after:scale-x-0 after:origin-center
  after:transition-transform after:duration-300;

  @apply hover:after:scale-x-100;
}